@model IEnumerable<VKR_Visik.Classes.Sections>

@{
    ViewData["Title"] = "Index";
}

<h1>Секции</h1>
@if (ViewContext.HttpContext.Session.GetString("userRole") != null)
{
    <p>
    <a asp-action="Create">Создать секцию</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование секции
            </th>
            <th>
                Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sections_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sections_Data)
            </td>
            <td>
                    @if (ViewContext.HttpContext.Session.GetString("userRole") != null && ViewContext.HttpContext.Session.GetString("userRole") != "Пользователь")
                    {
                <a asp-action="Edit" asp-route-id="@item.sections_Id">Edit|</a> 
                <a asp-action="Details" asp-route-id="@item.sections_Id">Details|</a> 
                <a asp-action="Delete" asp-route-id="@item.sections_Id">Delete</a>
                    }
                <a asp-action="Index" asp-controller="Themes" asp-route-id="@item.sections_Id">Перейти к обсуждению</a>
            </td>
        </tr>
}
    </tbody>
</table>
